<nav>
  <img src="/images/logo.png" alt="" />
  <ul>
    <li><a href="/">Acceuil</a></li>
    <li><a href="/about">À propos de</a></li>
    <li><a href="/pricing">Tarifs</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <a href="/login">
    <button>Démarrer <i class="fa-solid fa-up-right-from-square"></i></button>
  </a>
</nav>
