<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/icon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/ccd4003a42.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>

    <title><%= title %></title>
  </head>
  <body>
    <%- include('partials/header'); %>
    <main>
      <section class="text-section">
        <!-- <h1>Hello Welcome to <strong>SyncNote</strong></h1> -->
        <h1>
          Votre plateforme en ligne pour des<br />
          <strong>notes d'études synchronisées.</strong><br />
        </h1>
        <div class="sous-texte">
          <p>
            la plateforme de partage de notes ultime pour les étudiants.
            Simplifiez votre apprentissage en accédant à une bibliothèque de
            notes de cours, de résumés et de documents d'étude partagés par des
            étudiants du monde entier.
          </p>
        </div>
        <br />
        <button>Essai gratuit</button>
      </section>
      <section class="img">
        <div></div>
      </section>
      <section id="features">
        <h1>
          Découvrez les fonctionnalités incluses dans <strong>SyncNote </strong>
        </h1>
        <p>
          La plateforme ultime de partage de
          <strong> notes pour les étudiants.</strong> Avec des fonctionnalités
          de partage instantané, recherche rapide, commentaires interactifs et
          gestion des versions,
          <strong>simplifiez votre apprentissage</strong> collaboratif. <br />
          Rejoignez-nous dès aujourd'hui pour une expérience d'apprentissage
          <strong>optimisée.</strong>
        </p>
      </section>
      <section class="display">
        <article></article>
      </section>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>
